
.vs/
.vscode/
*.csproj.user


bin/
obj/

*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates


*.swp
*.bak
*.tmp
*.log


[Tt]humbs.db
[Dd]esktop.ini
$RECYCLE.BIN/


*.ncrunch*
_ReSharper.*
*.DotSettings.user


*.nupkg
*.snupkg
packages/
